.searchWrap {
  width: 50vh;
  height: 40vh;
}

.searchInputBox {
  width: 80vh;
  margin-bottom: 10px;
}

.searchContainer {
  height: 30vh;
  overflow: auto;
  width: 80vh;
}

.searchElement {
  border: 1px black solid;
  background-color: bisque;
  margin: .10em;
  list-style:none;
}

.searchElement:hover {
  background-color: aqua;
  cursor: pointer;
}

.activeElement {
  background-color: black;
  color: white;
  margin: .10em;
  list-style:none;
}

.activeElement:hover {
  cursor: pointer;
}