.mapContainer {
  width: 100vh;
  height: 90vh;
}

.map {
  width: 100VH;
  height: 90vh;
}

.infoContainer {
  padding:5px;
  z-index:1;
  height:150px !important;
  width:400px !important;
}

.address {
  font-size:2px;
}